
.n-wrapper{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding-top: 10px;
    

}
.n-left{
    flex:1;
   display: flex;
   align-items:center;
    gap: 2rem;

    
}
.n-name .profile-name{
    font-size:1.3rem;
    font-weight:bold;
}

.n-right{
    display: flex;
    flex: 1 ;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
}
.n-list{
    display: flex;
    align-items: center;
}
.n-list ul{
    display: flex;
    gap:2rem;
    margin-right: 2rem;
    list-style-type:none;
    transition: width 0.7s ease, background-color 0.5s ease;
    }
    .n-list ul li{
        cursor: pointer;
    }
.n-list ul li:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
    
      }

.n-list ul li:hover:after{
    
    width:100%;
    background:var(--orange);
    }
.n-button{
    flex:2;
}
.nav-icons{
    display:none;
}
@media screen and (max-width:920px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-top: 1pxsolid #fff;
        padding:1rem;

        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index:2;
        background-color: var(--orange);
      }
      .nav-menu.active {
        background:var(--orange);
        align-items: center;
        justify-content: center;
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 2;
        color:white;
      }
      .n-list ul li:hover:after{
    
        width:100%;
        background:white;
        }
      .nav-icons{
        display:block;
      }
      .n-button{
        display: none;
    }
    .nav-icons{
       right:10rem;
    }

}

