.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: 0rem;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: 0;
}
.f-content{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top:4rem;
    gap:2rem;
    color:white;
    
    
}
.f-icons{
    display: flex;
    gap:2rem;
    cursor: pointer;
}
.f-icons a :hover{
    transform: scale(1.07);
    transition: transform 0.6s;
}
.f-content .f-top{
    padding-top: 7rem;
}
@media screen and (max-width:920px) {
    .footer{ 
        margin-top: -35rem;  
        height:25rem;
      }
      .footer img{
          height: 100%;
      }
}
@media screen and (max-width:480px) {
    .footer{ 
        margin-top: -20rem;  
      height:30rem;
    }
    .footer img{
        height: 100%;
    }
    
    
}